		
<footer>
    <div class="front-copyright">
            <div class="container">
                <div class="row-fluid">
                    <div class="span8">
                        <p>
                            <span class="margin-right-10">2015 &copy; Este sitio está desarrollado en software libre cumpliendo con los lineamientos del Decreto Nº 3390.</span> 

                        </p>
                    </div>

                </div>
            </div>
        </div>
    
    
</footer>
</body>
</html>