<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Programaci&oacute;n Inces</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap -->
            <link href="/CursoInces/curso/programacion-inces/PHP/Profesor/core/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">		

                <script src="/CursoInces/curso/programacion-inces/PHP/Profesor/core/jquery/jquery-2.1.1.min.js"></script>
                <script src="/CursoInces/curso/programacion-inces/PHP/Profesor/core/bootstrap/js/bootstrap.min.js"></script>
                <script src="/CursoInces/curso/programacion-inces/PHP/Profesor/public/js/profesor.js"></script>

                </head>

                <body>
                    <div class="container">			

                        <cente>
                            <h3>Programación en PHP ->Creación de un CRUD"Create, Read, Update y Delete" </h3>        
                        </cente>
                    </div>