<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Programaci&oacute;n Inces</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap -->
            <link href="core/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">		
                <link href="core/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">		
                    <link href="public/css/curso.css" rel="stylesheet" media="screen">		


                        <link rel="stylesheet" href="core/Nivo-Slider//themes/default/default.css" type="text/css" media="screen" />
                        <link rel="stylesheet" href="core/Nivo-Slider//themes/light/light.css" type="text/css" media="screen" />
                        <link rel="stylesheet" href="core/Nivo-Slider//themes/dark/dark.css" type="text/css" media="screen" />
                        <link rel="stylesheet" href="core/Nivo-Slider//themes/bar/bar.css" type="text/css" media="screen" />
                        <link rel="stylesheet" href="core/Nivo-Slider//nivo-slider.css" type="text/css" media="screen" />






                        <link href="public/css/AdminLTE.css" rel="stylesheet" media="screen">		




                            <script src="core/jquery/jquery-2.1.1.min.js"></script>
                            <script src="core/bootstrap/js/bootstrap.min.js"></script>
                            <script src="public/js/profesor.js"></script>



                            <script type="text/javascript" src="core/Nivo-Slider/jquery.nivo.slider.js"></script>
                            <script type="text/javascript">
                                $(window).load(function () {
                                    $('#slider').nivoSlider();
                                });
                            </script>
                            </head>
                            <body>
                                <header>
                                    <div id="wrapper">
                                        <div class="slider-wrapper theme-default">
                                            <div id="slider" class="nivoSlider">
                                                <img src="public/img/slide1.png" data-thumb="public/img/slide1.png" />
                                                <img src="public/img/1slide1.jpg" data-thumb="public/img/1slide1.jpg"/>
                                                <img src="public/img/slide1.png" data-thumb="public/img/slide1.png" />
                                                <img src="public/img/1slide1.jpg" data-thumb="public/img/1slide1.jpg"/>
                                            </div>

                                        </div>

                                    </div>


                                    <!--                                <div >                
                                                                        <img  alt="" src="public/img/header.png" class="img-responsive" style="width: 100%">
                                                                    </div>-->

                                </header>






                                <div id="contenedor-principal" class="contenedor-principal">
                                </div>
                                <div id="loading" style="display: none;"><div class="imgLoad"></div></div>